<% if current_user %>
  <p>you are logged in!</p>
  <%= link_to "Logout", '/logout', method: :delete %>
<%  else %>
  <%= link_to "Register as a User", '/register' %>
  <%= link_to "Login", '/login' %>
<% end %>

<p style="text-align:center;"><%= button_to "Create New User", '/register', method: :get, local: true %></p><br>
<p style="text-align:center;">Existing Users:</p>
<div id="existingUsers">
</div>
